body {
	background-color: white;
}

.blockmain{
	display: inline-block;
	margin-top: 200px;
	margin-left: 200px;
	border: 1px;
	border-color: #fce7d4;
}

.blockinfo{ 
	display: inline-block;
	height: 300px;
	width: 200px;
	margin-right: 50px;
	background-color: #fce7d4;
	float: right;
	padding-bottom: 50px; 
}
#C{
	position: center;
}


.blockinfo{
	text-align: center;
}
.inblock{ 
	padding-top: 30px;

}

h1, h2, h3 {
	border-bottom: 1px solid gray;
}


p{
	padding-top: 20px;
}

li:hover{
	text
}

#pic {
	height: 200px;
	width: 100px; 
	float: left;
}


.sommaire{
	display: inline-block;
	background-color: #fce7d4;  
}
